<div class="position-relative">
    <form class="change-password-form bg-white text-dark d-flex justify-content-around align-items-start flex-wrap flex-column flex-md-row" action="{{url_for('change_password')}}" method="post">
        {{ change_password_form.csrf_token }}
        <div class="mb-3">
            <input 
                class="form-control {{'is-invalid' if change_password_form.password.errors else ('is-valid' if change_password_form.password.data else '')}}" 
                name="{{change_password_form.password.name}}" 
                value="{{change_password_form.password.data or ''}}" 
                placeholder="New Password" 
                type="password"
            >
            {% if change_password_form.password.errors %}
                {% for error in change_password_form.password.errors %}
                    <span class="invalid-feedback">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        <div class="mb-3">
            <input 
                class="form-control {{'is-invalid' if change_password_form.confirmation.errors else ('is-valid' if change_password_form.confirmation.data else '')}}" 
                name="{{change_password_form.confirmation.name}}" 
                placeholder="Confirm new password" 
                type="password"
            >
            {% if change_password_form.confirmation.errors %}
                {% for error in change_password_form.confirmation.errors %}
                    <span class="invalid-feedback">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        <div class="mb-3 submit-btn-wrapper w-25">
            <button class="btn btn-primary w-100 rounded-pill" type="submit">Reset</button>
        </div>
    </form>
    <small class="d-flex text-start m-4 text-secondary"><span class="text-danger">*</span>&nbsp; You will need to login again.</small>
</div>