{% extends "layout.html" %}

{% block title %}
    Reset Password
{% endblock %}

{% block main %}

    <form class="reset-password-form bg-white text-dark" action="{{url_for('reset_password', token=token)}}" method="post">
        {{ form.csrf_token }}
        <h3>Reset Password</h3>
        <div class="mb-3">
            <input 
                class="form-control {{'is-invalid' if form.password.errors else ('is-valid' if form.password.data else '')}}" 
                name="{{form.password.name}}" 
                value="{{form.password.data or ''}}" 
                placeholder="Password" 
                type="password"
            >
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <span class="invalid-feedback">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        <div class="mb-3">
            <input 
                class="form-control {{'is-invalid' if form.confirmation.errors else ('is-valid' if form.confirmation.data else '')}}" 
                name="{{form.confirmation.name}}" 
                placeholder="Confirm" 
                type="password"
            >
            {% if form.confirmation.errors %}
                {% for error in form.confirmation.errors %}
                    <span class="invalid-feedback">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        <button class="btn btn-primary" type="submit">Reset</button>
    </form>

{% endblock %}
